{{define "yield"}}
    {{template "newQuackForm"}}
{{end}}

{{define "newQuackForm"}}
    <div>
        <form action="/newquack" method="POST">
            <div>
                <label for="newquack">What's quackin'?</label><br/>
                <textarea id="newquack" name="newquack" rows="4" cols="40"></textarea>
            </div>
            <button type="submit">Quack it!</button>
        </form>
    </div>
{{end}}