{{define "yield"}}

{{if .Yield.Exists}}
    <p>This is a {{.Yield.Username}} profile page.</p>
    <p>About:</p>
    <p>{{.Yield.About}}</p>

    {{if .Yield.Followed}}
        {{template "unfollow" .}}
    {{else}}
        {{template "follow" .}}
    {{end}}

    <p>{{.Yield.Username}}'s recent quacks:</p>
    {{range .Yield.Quacks}}
        <p>{{.Text}}</p>
    {{end}}
{{else}}
    <p>{{.Yield.Username}} doesn't exist.</p>
{{end}}

{{end}}