{{define "yield"}}
<p>This is a {{.User.Username}} profile page.</p>
<p>About:</p>
<p>{{.User.About}}</p>

<p>{{.User.Username}}'s recent quacks:</p>
{{range .Yield}}
    <p>{{.Text}}</p>
{{end}}

{{/* <p>You are logged in as: {{.}}</p> */}}
{{end}}