{{define "yield"}}
    {{if .Yield}}
        <div>
            <p>
            ----------------------------------------------------------------<br>
            <a href="/{{.Yield.Username}}">{{.Yield.Username}}</a> {{.Yield.CreatedAt}}<br>
            {{.Yield.Text}}<br>
            ----------------------------------------------------------------<br>
            </p>
        </div>
    {{end}}
{{end}}