{{define "yield"}}
Following:
    {{range .Yield}}
        {{template "followingUser" .}}
    {{end}}
{{end}}


{{define "followingUser"}}
    <div>
        <p>
        ----------------------------------------------------------------<br>
        <a href="/{{.Username}}">{{.Username}}</a><br>
        ----------------------------------------------------------------<br>
        </p>
    </div>
{{end}}