{{define "followUser"}}
    <div>
        <p>
        ----------------------------------------------------------------<br>
        <a href="/{{.Username}}">{{.Username}}</a><br>
        ----------------------------------------------------------------<br>
        </p>
    </div>
{{end}}